.program {

  &__inner {
    border-top: 1px solid $blue;
    padding-left: 80px;
  }

  table {
    margin-bottom: 24px;
    tr {
      &:first-child {
        td {
          border-top: none;
        }
      }
    }
    td {
      padding-left: 40px;
      padding-right: 40px;
      vertical-align: top;
      &:first-child {
        padding-left: 0;
        border-left: none;
        max-width: 150px;
        width: 150px;
      }
      &:last-child {
        padding-right: 0;
        border-right: none;
      }
      &.icon {
        width: 96px;
        max-width: 96px;
        padding: 8px 0 0;
        background-color: $grey;
        border: 1px solid $grey;
        text-align: center;
        position: relative;
        &::before {
          content: '';
          display: inline-block;
          width: 22px;
          height: 21px;
          background: {
            image: url(../img/program-icons.png);
            repeat: no-repeat;
          }
        }
        &_cup {
          &::before {
            background: {
              position: left center;
            }
          }
        }
        &_bus {
          &::before {
            background: {
              position: -22px center;
            }
          }
        }
        &_location {
          &::before {
            background: {
              position: -44px center;
            }
          }
        }
        &_museum {
          &::before {
            background: {
              position: -66px center;
            }
          }
        }
        &_restaurant {
          &::before {
            background: {
              position: -88px center;
            }
          }
        }
        &_park {
          &::before {
            background: {
              position: -110px center;
            }
          }
        }
        &_hotel {
          &::before {
            background: {
              position: right center;
            }
          }
        }
      }
    }
  }

  p {
    font-size: 12px;
    line-height: 24px;
  }

  figure {
    margin-top: 32px;
    padding-bottom: 32px;
    border-bottom: 2px solid $blue;

    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
