.header {
  padding: 40px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;

  &__logo {
    display: block;

    img {
      display: block;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;

    a {
      font-size: 16px;
      font-weight: 300;
      color: $black;
      margin-left: 56px;
    }
  }
}
