.header {
  margin-top: 24px;
  padding: 40px 0;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  &_page {
    margin-top: 8px;
    .header__contacts {
      flex-direction: row;
      align-items: center;
    }
  }

  &__logo {
    display: block;

    img {
      display: block;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-end;

    a {
      font-size: 16px;
      font-weight: 300;
      color: $black;
      margin-left: 56px;
    }
  }
}
