@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy Light'), local('Gilroy-Light'), url('../fonts/Gilroylight.woff2') format('woff2'), url('../fonts/Gilroylight.woff') format('woff'), url('../fonts/Gilroylight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: local('Gilroy ExtraBold'), local('Gilroy-ExtraBold'), url('../fonts/Gilroyextrabold.woff2') format('woff2'), url('../fonts/Gilroyextrabold.woff') format('woff'), url('../fonts/Gilroyextrabold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'), url('../fonts/playfairdisplay.woff2') format('woff2'), url('../fonts/playfairdisplay.woff') format('woff'), url('../fonts/playfairdisplay.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'), url('../fonts/playfairdisplayitalic.woff2') format('woff2'), url('../fonts/playfairdisplayitalic.woff') format('woff'), url('../fonts/playfairdisplayitalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'), url('../fonts/playfairdisplaybold.woff2') format('woff2'), url('../fonts/playfairdisplaybold.woff') format('woff'), url('../fonts/playfairdisplaybold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display Bold Italic'), local('PlayfairDisplay-BoldItalic'), url('../fonts/playfairdisplaybolditalic.woff2') format('woff2'), url('../fonts/playfairdisplaybolditalic.woff') format('woff'), url('../fonts/playfairdisplaybolditalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'), url('../fonts/playfairdisplayblack.woff2') format('woff2'), url('../fonts/playfairdisplayblack.woff') format('woff'), url('../fonts/playfairdisplayblack.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Playfair Display';
  src: local('Playfair Display Black Italic'), local('PlayfairDisplay-BlackItalic'), url('../fonts/playfairdisplayblackitalic.woff2') format('woff2'), url('../fonts/playfairdisplayblackitalic.woff') format('woff'), url('../fonts/playfairdisplayblackitalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
