// Colors
$white: #fff;
$black: #000;
$blue: #1f385e;
$green: #6c9e5b;
$red: #d34f4e;
$grey: #efefef;
$dark-grey: #595651;

// Typography
$title-font: 'Playfair Display';
$content-font: 'Gilroy';
$fa: 'FontAwesome';
