header.header
  .container.flex
    a.header__logo(href="#")
      img(src="img/logo-sm.png", alt="Azerbaijan Trips")
      
    .header__contacts
      a(href="www.azerbaijantrips.com") www.azerbaijantrips.com
      a(href="mailto:info@azerbaijantrips.com") info@azerbaijantrips.com
      a(href="tel:420773065550") +420 77 306 55 50
