header.header
  .container.flex
    a.header__logo(href="#")
      img(src="img/logo-sm.png", alt="Azerbaijan Trips")
      
    .header__contacts
      a(href="www.azerbaijantrips.com") www.azerbaijantrips.com
